* {
    background-color: wheat;
    color: black;
    margin: 0;
    font-family: "Alice", serif;
    font-style: normal;
}

section{
    margin: auto;
}

/* ------------------------------ LOGIN ------------------------------*/

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

/* Imagenes laterales */

.contenedor-Imagen{
    display: flex;
    justify-content: center;
    padding: 1vh;
    width: 30%;
}

.imagen{
    width: 50%;
    height: 50%;
    clip-path: inset(0 0 0 0 round 15px);
    
}

/* Campos de texto */

#usuario, #password{
    border: none;
    background-color: white;
    width: 59vh;
    font-size: 2.5vh;
    color: black;
}

/* Boton */

.contenedor-Boton{
    background-color: #1c1b19;
    display: flex;
    justify-content: center;
}

.boton-Continuar{
    background-color: #d8b33e;
    border-radius: 7px;
    border-style: none;
    padding: 1vh;
    padding-left: 5vh;
    padding-right: 5vh;
    font-size: 2.5vh;
    transition: background-color 0.3s ease;
}

.boton-Continuar:hover{
    background-color: white;
    color:#d8b33e;
}

/* Pie de pagina */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 1vh;
}

footer::before {
    content: '';
    display: block;
    width: 175vh;
    height: .5vh;
    background-color: white;
    border-radius: 4px;
    margin: 0 auto 10px auto;
}

/* Cuadro de iniciar sesion */

.contendor-Login{
    background-color: #1c1b19;
    border: #d8b33e solid 5px;
    padding: 3vh;
    width: 65vh;
    height: 70vh;
    margin: auto;
    padding: auto;
}

/* Logo de la pagina */

.contenedor-ImagenLogin{
    background-color: #1c1b19;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Texto de iniciar sesion */

.login-Texto{
    background-color: #1c1b19;
    text-align: center;
    font-size: 5vh;
}

/* Texto */

.contenedor-Texto{
    background-color: #1c1b19;
    margin-bottom: 0;
    font-size: 3vh;
}

.fondoGris{
    background-color: #1c1b19;
}

.contenedor-NoCuenta{
    background-color: #1c1b19;
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
}

/* Para escribir texto */

.contenedor-Campo{
    background-color: white;
    margin-top: 3px;
    padding: 1vh;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3vh;
}

/* Logo */

.contenedor-Logo{
    background-color: #1c1b19;
    display: flex;
    justify-content: center;
}

/* Iconos */

.fa-circle-user, .fa-lock{
    background-color: white;
}

/* Links */

a:hover{
    color: #d8b33e;
}

/* ---------------------------- Registro ----------------------------*/

/* Logo */

.contenedor-Logo-Registro{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-left: 10vh;
    padding-top: 4vh;
    padding-right: 2vh;
    padding-bottom: 2vh;
}

.contenedor-Registro{
    display: grid;
    grid-template-areas: 
    "grid1 grid2" 
    "grid3 grid4"
    "grid5-6 grid5-6" 
    "grid7 grid8" 
    "grid9-10 grid9-10" 
    "contenedor-BotonRegistro contenedor-BotonRegistro"
    "grid12 grid12";
    gap: 10px;
}

.logo{
    width: 8%;
}

.registro-Texto{
    padding-left: 15px;
}

/* Cuerpo */

.Registro{
    display: flex;
    justify-content: center;
}

/* Campos */

.campo-Texto{
    font-size: 2.5vh;
    outline: none;
    border-style: none;
    width: 40vh;
    background-color: white;
    color: black;
}

.campo-Texto:hover, .campo-TextoLargo:hover{
    color: #d8b33e;
}

.campo-TextoLargo{
    font-size: 2.5vh;
    outline: none;
    border-style: none;
    width: 84vh;
    background-color: white;
    color: black;
}

#fechaNacimiento{
    text-align: center;
}

/* Grid */

.grid1, .grid2, .grid3, .grid4, 
.grid5-6, .grid7, .grid8, .grid9-10, 
.contenedor-BotonRegistro, .grid12{
    display: flex;
    flex-direction: column;
    font-size: 2.5vh;
}

.grid1{
    grid-area: grid1;
    display: flex;
}

.grid2{
    grid-area: grid2;
}

.grid3{
    grid-area: grid3;
}

.grid4{
    grid-area: grid4;
}

.grid5-6{
    grid-area: grid5-6;
    
}

.grid7{
    grid-area: grid7;
}

.grid8{
    grid-area: grid8;
}

.contenedor-BotonRegistro, .grid9-10{
    padding-left: 20vh;
    padding-right: 20vh;
}

.grid9-10{
    grid-area: grid9-10;
}


.contenedor-BotonRegistro{
    grid-area: contenedor-BotonRegistro;
    
}

.grid12{
    grid-area: grid12;
    text-align: center;
}

/* Lateral derecho */

.LateralRegistro{
    background-color: #1c1b19;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 25vh;
    padding-top: 5vh;
    padding-left: 8vh;
    padding-right: 8vh;
    padding-bottom: 5vh;
    border: #d8b33e solid 5px;
    gap: 20px;
    font-size: 2.5vh;
}

.contenedor-BotonCargar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconoUser{
    background-color: #1c1b19;
    font-size: 40vh;
}

.textoImagen{
    background-color: #1c1b19;
}

/* ----------------------------- Inicio -----------------------------*/

/* Imagen rotativa de inicio */

.contenedor-ImagenInicio{
    background-image: url(/img/altus.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
}

.recorteImagen{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    mix-blend-mode: multiply;
}

/* Barra de navegarcion */

.menu{
    display: grid;
    grid-template-areas: 
      "contenedor-LogoInicio inicio searchbar publicar contenedor-BotonIniciarSesion";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

.contenedor-LogoInicio, .inicio, .searchbar, .publicar, .contenedor-BotonIniciarSesion{
    display: flex;
    align-items: center;
    background-color: aqua;
    
}

.contenedor-LogoInicio{
    grid-area: contenedor-LogoInicio;
}

.inicio{
    grid-area: inicio;
    justify-content: right;
}

.searchbar{
    grid-area: searchbar;
    justify-content: center;
}

.publicar{
    grid-area: publicar;
    justify-content: left;
}

.contenedor-BotonIniciarSesion{
    grid-area: contenedor-BotonIniciarSesion;
    justify-content: center;
}

.botonIniciarSesion{
    background-color: #d8b33e;
    border-radius: 7px;
    border-style: none;
    padding: 1vh;
    padding-left: 5vh;
    padding-right: 5vh;
    font-size: 2.5vh;
    transition: background-color 0.3s ease;
}

.botonIniciarSesion:hover{
    background-color: white;
    color:#d8b33e;
}

/* Logo */

.logo{
    width: 20%;
}

/* Busqueda */

.input-wrapper{
    background-color: white;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Principal */

.contenedor-Inicio{
    display: grid;
    grid-template-areas:
    "lateralIzquierdo lateralDerecho"
    "izquierdoInferior derechoInferior"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 100vh;
}

.lateralDerecho, .lateralIzquierdo, .izquierdoInferior, .derechoInferior{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lateralIzquierdo{
    grid-area: lateralIzquierdo;
    background-color: blue;
    object-fit: fill;
}

.lateralDerecho{
    grid-area: lateralDerecho;
    background-color: red;
}

.izquierdoInferior{
    grid-area: izquierdoInferior;
    background-color: indigo;
}

.derechoInferior{
    grid-area: derechoInferior;
    background-color: green;
}