* {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    font-family: "Alice", serif;
    font-style: normal;
    box-sizing: border-box;
}

:root {

    /* Nuevas variables */
    --color-fondo: black;
    --color-negro: #1c1b19;
    --color-primario: #d8b33e;
    --color-secundario: #1c1b19;
    --color-texto: white;
    --campo-texto-completo: white;
    --color-campo-texto: black;
    --color-borde-primario: white;
    --color-borde-secundario: #d8b33e;
    --campo-texto-completo: white;
    --color-hover-primario: white;
    --color-hover-secundario: #d8b33e;
    --color-hover-terciario: black;
    --linea-blanca: white;

    --tamanioFuenteTexto: 1rem;
}

/* Colores */
.fondoGrisOscuro { background-color: var(--color-negro); }

/* Bordes */
.bordeBlanco {
    border: 0.2rem solid var(--color-borde-primario);
    border-radius: 0.5rem;
}

.bordeDorado {
    border: 0.2rem solid var(--color-borde-secundario);
    border-radius: 0.5rem;
}

/* Medidas */
.gap-0 { gap: 0; } 
.gap-sm { gap: 0.5rem; } 
.gap-md { gap: 1rem; } 
.gap-lg { gap: 2rem; } 
.gap-xl { gap: 4rem; }

.width25 { width: 25%; } 
.width50 { width: 50%; } 
.width75 { width: 75%; } 
.width100 { width: 100%; }

.height25 { height: 25%; } 
.height50 { height: 50%; } 
.height75 { height: 75%; } 
.height100 { height: 100%; }

.padding1 { padding: 1%; } 
.padding2 { padding: 2%; } 
.padding5 { padding: 5%; } 
.padding25 { padding: 25%; }

.marginLeft2 { margin-left: 2rem; } 
.marginTop1 { margin-top: 1rem; }
.margin2 { margin: 2rem; }

/* Cuerpo de la ventana */

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
}

.footer-Global {
    text-align: center;
    padding: 10px;
}

.footer::before {
    content: '';
    display: block;
    width: 175vh;
    height: .5vh;
    background-color: var(--linea-blanca);
    border-radius: 4px;
    margin: 0 auto 10px auto;
}

/* Centrados */

.centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.soloFlex {
    display: flex;
    justify-content: center;
}

.filaFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 2rem;
}

.alineadoDerecha {
    align-items: end;
}

.alineadoAbajo {
    align-content: end;
}

.centrado-Items {
    align-items: center;
}

.centrado-Content {
    align-content: center;
}

/* Estructura basica de los elementos */

.fila {
    display: flex;
    justify-content: center;
    border: 2px solid green;
}

.columna {
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
}

/* Botones */

.boton {
    background-color: var(--color-hover-secundario);
    transition: background-color 0.3s ease;
    border-radius: 0.5rem;
    border-style: none;
    padding: 0.5rem;
    text-decoration: none;
    font-size: var(--tamanioFuenteTexto);
}


.boton:hover {
    background-color: var(--color-hover-primario);
    color: var(--color-hover-secundario);
    text-decoration: none;
}

.boton-secundario {
    background-color: var(--color-hover-terciario);
    transition: background-color 0.3s ease;
    border: 0.2rem solid var(--color-hover-primario);
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    font-size: var(--tamanioFuenteTexto);
}

.boton-secundario:hover {
    background-color: var(--color-hover-primario);
    color: var(--color-hover-secundario);
    text-decoration: none;
}

/* Estilo de campos de texto */

.campo-Texto {
    background-color: var(--campo-texto-completo);
    color: var(--color-campo-texto);
    border-style: none;
    font-size: var(--tamanioFuenteTexto);
}

.contenedor-Campo {
    background-color: var(--campo-texto-completo);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.campo-Texto:hover {
    color: var(--color-hover-secundario);
}

/* Estilo de enlaces */

.enlace-primario {
    color: var(--color-hover-secundario);
}

.enlace-primario:hover {
    color: var(--color-hover-primario);
}

.enlace-secundario {
    color: var(--color-hover-primario);
}

.enlace-secundario:hover {
    color: var(--color-hover-secundario);
}

.sinSubrayado {
    text-decoration: none;
}

/* Cargar imagen */

.imagenCargar {
    width: 200px;
    height: 200px;
    border: 2px solid var(--color-borde);
    border-radius: 15px;
    object-fit: cover;
    visibility: visible;
}

.input-file {
    display: none;
}

/* Barra de busqueda */

.imagenNavBar {
    width: 10%;
}

.contenido {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navegacion {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.barra-busqueda {
    background-color: var(--color-hover);
}

.fa-magnifying-glass {
    font-size: 1.7rem;
}

/* Imagen lateral */

.imagen-Lateral{
    width: 50%;
    border-radius: 30px;
}

.imagen-Busqueda{
    width: 40%;
    border-radius: 30px;
}

/* ------------------------------ LOGIN ------------------------------*/

.contenedor-Login {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    gap: 8px;
    align-items: center;
    border: 2px solid blue;
}

.loginPrincipal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    font-size: var(--tamanioFuenteTexto);
    border: 2px solid red;
}

.imagenLogin {
    width: 30%;
}

.l1-2 {
    padding: 4rem;
    border: 2px solid wheat;
}

/* ---------------------------- Registro ----------------------------*/

.contenedor-Registro {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    gap: 8px;
    align-items: center;
    border: 2px solid blue;
}

.registroPrincipal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: var(--tamanioFuenteTexto);
    border: 2px solid red;
    justify-items: center;
}

.r1-1 {
    border: 2px solid wheat;
    width: 100%;
    padding: 2rem;
    padding-left: 8rem;
}

.r1-2 {
    /* border: 2px solid wheat; */
    width: 50%;
    height: 70%;
    padding: 2rem;
}

/* ----------------------------- Inicio -----------------------------*/

.contenedor-Inicio {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 8px;
    align-items: center;
    border: 2px solid blue;
}

.inicioPrincipal {
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-size: var(--tamanioFuenteTexto);
    border: 2px solid red;
    justify-items: center;
}

.contenedorImagen {
    position: relative;
    width: 40rem;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    /* border: 2px solid white; */
}

.imagenInicio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.imagenInicio.activa {
    opacity: 1;
}

.imagenSugerencia{
    width: 40%;
}

.base {
    background-color: transparent;
    z-index: 3;
    opacity: 1;
    pointer-events: none;
}

.fade {
    z-index: 1;
    animation: fadeCycle 20s infinite;
}

.fade:nth-child(1) {
    animation-delay: 0s;
}
.fade:nth-child(2) {
    animation-delay: 5s;
}
.fade:nth-child(3) {
    animation-delay: 10s;
}
.fade:nth-child(4) {
    animation-delay: 15s;
}

@keyframes fadeCycle {
    0%   { opacity: 0; }
    5%   { opacity: 1; }
    25%  { opacity: 1; }
    30%  { opacity: 0; }
    100% { opacity: 0; }
} 

/* ----------------------- Perfil ------------------------ */

.contenedor-Perfil {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    align-items: center;
    border: 2px solid blue;
}

.perfilPrincipal{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-items: center;
    font-size: var(--tamanioFuenteTexto);
    border: 2px solid red;
}

.r2-1 {
    border: 2px solid wheat;
    width: 100%;
    padding: 2rem;
    padding-left: 8rem;
}

.r2-2 {
    /* border: 2px solid wheat; */
    width: 50%;
    height: 70%;
    padding: 2rem;
}

/* ----------------------- Publicacion ------------------------ */

.contenedor-Publicacion{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    gap: 8px;
    align-items: center;
    border: 2px solid blue;
}

.publicarPrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-size: var(--tamanioFuenteTexto);
    border: 2px solid red;
    justify-items: center;
}

.formulario-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: var(--color-negro);
    padding: 20px;
    border: 2px solid var(--color-borde);
    border-radius: 5px;
}

.campo {
    display: flex;
    flex-direction: column;
    background-color: var(--color-negro);
    width: 100%;
    height: 100%;
    font-size: var(--tamanioFuenteContenido);
}

.descripcion-area {
    width: 100%;
    resize: none;
}

/* ----------------------- Articulo ------------------------ */

.contenedor-Articulo {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    gap: 8px;
    align-items: center;
    border: 2px solid blue;
}

.articuloPrincipal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-size: var(--tamanioFuenteTexto);
    border: 2px solid red;
    justify-items: center;
}

.a3-1,
.a3-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.articuloInformacion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: var(--color-negro);
    padding: 20px;
    border: 2px solid var(--color-borde);
    border-radius: 5px;
}

.descripcion {
    text-align: justify;
}

.centro {
    text-align: center;
}

/* ----------------------- Busqueda ------------------------ */

.contenedor-Busqueda {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    gap: 8px;
    align-items: center;
    border: 2px solid blue;
}

.busquedaPrincipal {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-size: var(--tamanioFuenteTexto);
    border: 2px solid red;
    justify-items: center;
}

.imagenBusqueda {
    width: 6rem;
    height: 6rem;
    border: 2px solid var(--color-borde);
    border-radius: 15px;
    object-fit: cover;
    visibility: visible;
}

.filaBusqueda {
    justify-content: flex-start;
    padding-left: 2rem;
}

.filaFiltros {
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 2rem;
}